@import "../../style/colors";

.sentence_practice_root {
  display: flex;
  flex-direction: column;
  height: 100%;

  .vocabtivator_header {
    flex: 0 0 20%;
  }

  .vocab_topic_list {
    flex: 0 0 0;
  }

  .sentence_practice_footer {
    text-align: center;
    flex: 0 0 20%;
  }

  .sentence_box_wrapper {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .sentence_box {
      display: flex;
      justify-content: center;
      .sentence_segment {
        display: contents;
        .sentence_segment_text{
          display: contents;
        }
        .sentence_segment_input{
          display: contents;
        }
      }
      input {
        padding: 0;
      }
    }
  }

}
