@import "../../style/colors";

.vocab_topic_list {
  .vocab_topic_button {
    margin-left: 10px;
    margin-right: 10px;
    background: $color_gray;
  }

  .vocab_topic_button_enabled {
    background: $color_green;
  }
}
